body {
    background-image: linear-gradient(90deg, #85DCBA, #6689CC);
    font-family: 'Karla', sans-serif;
    margin: 0;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
} 

img {
    height: 15em;
}

.modal {
    text-align: center;
    color: #2B483D;
}

.feather {
    display: flex;
    justify-content: center;
    margin-top: 14em;
    transition: transform .6s;
}

.feather:hover {
    transform: skewX(20deg)
}