body {
    background-image: linear-gradient(90deg, #85DCBA, #41B3A3);
    font-family: 'Karla', sans-serif;
    color: #2B483D;
    margin: 0;
}

nav {
    top: 0;
    margin-left: .4em;
    margin-right: 2em;
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.feather {
    height: 3em;
    transition: transform .6s;
}

.feather:hover {
    transform: skewX(25deg);
}

.dropdown-btn {
    background-color: transparent;
    border: transparent;
    transition: transform .6s;
}

.dropdown-btn:hover {
    transform: scale(1.5);
}

.dropdown-links {
    display: none;
    position: fixed;
    background-color: #f4f7f6;
    width: 10em; 
}

.dropdown-links a {
    color: #2B483D;
    text-decoration: none;
    padding: 2em;
}

#hamburger-icon:hover .dropdown-links {
    display: inline-block;
    border-radius: 5px;
}

.icon-line {
    width: 2em;
    height: 6px;
    background-color: #2B483D;
    margin: 4px;
}

.wrapper {
    background-color: #f4f7f6;
    margin-top: 4em;
    padding: 2.2em;
    box-shadow: 3px 3px .4rem;
}

h1 {
    text-align: center;
}

h3 {
    margin: auto 1em;
}

ul {
    list-style-type: none;
    font-size: 1.6em;
}

a {
    color: #2B483D;
    text-decoration: none;
}


li {
    margin-top: 2em;
    margin-bottom: .5em;
}

li:hover {
    font-weight: 800;
}

.screenshot {
    border-radius: 5px;
    transition: .5s ease;
}

.screenshot:hover {
    opacity: 0.6;
}